 /* General */
 @import url('https://fonts.cdnfonts.com/css/ozda');
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
 @import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');

 :root {
  --backgroundColor: #fff;
  --darkBackground: #f9f9f9;
  --color-one:#dd302f;
  --color-two: #138c85;
  --color-three: #ff973b;
  --color-four: #2f95dd;
  --text-color: #000;
  --golden:#ffd700;
  --text-invert: #fff;
  --callToAction: #cb2828;
  --accentColor: #294486;
  --dark-border: #444444;
  --input-box-background:#767676;
  --light-border: #ededed;
  --callToAction-hover: #000;
  --shadow-color:rgba(0,0,0,0.18);
  --transparent-black:#161616f2;
}

body,html{
  padding:0;
  margin:0;
  font-family: "Montserrat", sans-serif !important;
  font-size:14px;
  color:var(--text-color);
}

a,
a:visited {
    color: var(--text-invert);
    text-decoration: none;
}

h1 {
  font-weight: bold;
  font-size: 72px;
  line-height: 42px;
  align-items: center;
}
h2 {
   font-size: 48px;
}

h3 {
   font-size: 36px;
}

h4 {
   font-size: 24px;
}

h5 {
   font-size: 18px;
}

h6 {
   font-size: 16px;
}

input[type="text"], input[type="email"],textarea {
  padding: 10px;
  width: 89%;
  border-radius: 5px;
  border: 1px solid #767676;
}

input[type="date"]{
  padding: 8px;
  width: 100%;
  border: 1px solid #767676;
  border-radius: 5px;
  outline:none;
}

Select{width:200px;padding: 9px;border-radius: 5px;}

input[type="submit"] {
    background: var(--callToAction);
    border: 1px solid;
    padding: 10px 49px;
    color: #ededed;
    border-radius: 20px;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

input[type="submit"]:hover
{
 background: var(--callToAction-hover);
 color: var(--text-invert);
}

section {
  padding: 20px 0 80px;
  margin-bottom: auto;
 }

 
section.topBanner {
  padding: 0;
  z-index: 10;
  margin-bottom: 0;
}


body > section:first-of-type {
  padding-top: 0;
}

.padded {
 padding:10px;
}

.nopadding {
  padding: 0 !important;
}

.nopadding h1 {
  padding: 100px 0;
  margin: 0;
}

.darkSection{
  background:var(--darkBackground);
}

.boxed {
   width: 60vw;
   margin: auto;
}
.center {
  text-align:center;
}

.banner {
  overflow:hidden;
  position:relative;
  padding: 0;
  width: 100%;
  background-size: cover;
  background-position: center center;
}
.banner video{
  width:100%;
  position:absolute;
  top:0;
  bottom:0;
  margin:auto;
}

.bannerText h1 {
  padding: 0;
  margin: 0;
  line-height: 80px;
  font-size: 120px;
  font-weight: 100;
  font-family: 'Ozda', sans-serif;
}

.btn {
  border-radius:50px;
  text-align: center;
}

.color-one .coloredText,
.color-one .coloredText * {
  color:var(--color-one);
}

.color-one .coloredBackground {
  background: var(--color-one);
}

.color-one .coloredButton {
  border:2px solid var(--color-one);
  padding: 14px;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-one);
}
.color-one .coloredButton:hover {
  background: var(--color-one);
  color: var(--text-invert);
}

.color-one .coloredButtonFilled {
  background: var(--color-one);
  border:2px solid var(--color-one);
  color: var(--text-invert);
}
.color-one .coloredButtonFilled:hover {
  background: var(--backgroundColor);
  color: var(--color-one);
}


.color-two .coloredText,
.color-two .coloredText * {
  color:var(--color-two);
}

.color-two .coloredBackground {
  background: var(--color-two);
}

.color-two .coloredButton {
  border:2px solid var(--color-two);
  padding: 14px;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-two);
}

.color-two .coloredButton:hover {
  background: var(--color-two);
  color: var(--text-invert);
}

.color-two .coloredButtonFilled {
  background: var(--color-two);
  border:2px solid var(--color-two);
  color: var(--text-invert);
}
.color-two .coloredButtonFilled:hover {
  background: var(--backgroundColor);
  color: var(--color-two);
}

.color-three .coloredText,
.color-three .coloredText * {
  color:var(--color-three);
}

.color-three .coloredBackground {
  background: var(--color-three);
}

.color-three .coloredButton {
  border:2px solid var(--color-three);
  padding: 14px;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-three);
}

.color-three .coloredButton:hover {
  background: var(--color-three);
  color: var(--text-invert);
}

.color-three .coloredButtonFilled {
  background: var(--color-three);
  border:2px solid var(--color-three);
  color: var(--text-invert);
}
.color-three .coloredButtonFilled:hover {
  background: var(--backgroundColor);
  color: var(--color-three);
}

.color-four .coloredText,
.color-four .coloredText * {
  color:var(--color-four);
}

.color-four .coloredBackground {
  background: var(--color-four);
}

.color-four .coloredButton {
  border:2px solid var(--color-four);
  padding: 14px;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-four);
}

.color-four .coloredButton:hover {
  background: var(--color-four);
  color: var(--text-invert);
}

.color-four .coloredButtonFilled {
  background: var(--color-four);
  border:2px solid var(--color-four);
  color: var(--text-invert);
}
.color-four .coloredButtonFilled:hover {
  background: var(--backgroundColor);
  color: var(--color-four);
}

.lightText * {
  color: var(--text-invert) !important;
}

.invertImages img 
{
  filter:invert(1)
}

.img {
  background-size: cover;
}
/* Menu */

#logo img {
  height: 60px;
  transition-property: height;
  transition-duration: 500ms;
}

header {
  display: flex;
  width: 90vw;
  z-index: 100;
  position: fixed;
  padding: 0 5vw;
  text-align: center;
  justify-content: center;
  background: transparent;
  top: 20px;
  -webkit-box-shadow: unset;
  box-shadow: unset;
  border-bottom: 1px solid #ffffff63;
  border-top: 1px solid #ffffff63;
}

html:not([data-scroll='0']) header {
  background: var(--transparent-black);
  -webkit-box-shadow:0 7px 4px 0 var(--shadow-color);
  box-shadow: 0 7px 4px 0 var(--shadow-color);
  top: 0px;
  border:none;
}
html:not([data-scroll='0']) header nav > ul > li{
  padding: 10px 0;
  transition-property: padding;
  transition-duration: 500ms;
}

html:not([data-scroll='0']) #logo img {
  height: 40px;
}

header nav {  
  grid-template-columns: 0 auto;
  margin: auto;
  text-align: center;
}
header #logo {
  grid-column: 1/1;
  padding: 10px 20px;
  position: absolute;
  left: 5vw;
}

header nav > ul {
  display: flex;
  column-gap: 40px;
  padding: 0;
}


header nav > ul  li {
  list-style: none;
}

header nav > ul li:last-child
{
  border-bottom:none;
}


header nav > ul li.current a {
  color: #656565;
}

header nav > ul  li a{
  color: var(--text-invert);
  text-decoration: none;
  font-weight: 500;
  line-height: 14px;
  /* display: flex; */
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px;
}

header nav ul ul{
  display:none;
  position: absolute;
  background: var(--backgroundColor);
  padding: 10px;
  left: 0;
}

header nav > ul > li {
  list-style: none;
  float: left;
  padding: 20px 0;
  position: relative;
  width: max-content;
  transition-property: padding;
  transition-duration: 500ms;
}
header nav > ul > li.current{
    border-bottom: 2px solid #656565;
}
header nav > ul > li:hover ul{
  display:block;
}

header nav ul.submenu
{
  padding: 0 10px;
  margin-top: 10px;
  width: auto;
  margin-left: 0;
  text-align: left;
  -webkit-box-shadow: 0 5px 40px rgb(0 0 0 / 15%);
  -moz-box-shadow: 0 5px 40px rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 40px rgb(0 0 0 / 15%);
}


header nav ul.submenu a {
  color: var(--text-color);
}

header nav > ul > li.hasSubmenu:before {
  content: "\f078";
  position: absolute;
  color: var(--text-invert);
  right: -14px;
  font-family: 'Font Awesome 5 Pro';
  margin-top: 4px;
  font-size: 12px;
}

header nav > ul > li ul > li {
  padding:10px;
}

.topBanner .banner {
  height: 100vh;
}

.topBanner .banner video{
  width:100%;
  filter: saturate(2);
}

.banner .bannerText{
  position:absolute;
}

.banner .bannerText
{
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  width: fit-content;
  height: fit-content;
  text-align: center;
  padding: 20px;
  color: var(--text-invert);
}

/* Index page*/

#welcomeBanner {
  background-image: url('/videos/videothumbnail.png');
}
#ticketsControl {
  margin: 0 12vw;
  border-radius: 15px;
  border: 1px solid var(--dark-border);
}

#tc_header {
  width: 100%;
  height: 30px;
  padding: 20px 0 15px;
  border-bottom: 1px solid var(--dark-border);
  background: var(--color-one);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#tc_main {
  padding-top: 33px;
  display: flex;
  padding-bottom: 30px;
}

#tc_main form {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   display: flex;
   vertical-align: top;
   align-items: self-start;
   justify-content: center;
   column-gap: 30px;
}

#tc_header ul  {
  list-style: none;
  column-gap: 80px;
  padding: 0;
  width: 420px;
  margin: auto;
  position: relative;
  float: none;
  height: auto;
  display: flex;
  justify-content: center;
  COLUMN-GAP: 0;
}

#tc_header ul > li {
  float: left;
  list-style: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  padding: 0 30px;
  border-right: 1px solid #ededed;
  color: var(--text-invert);
}

#tc_header ul > li:last-child{
 border-right:none;
}

.activity {
  width: 30%;
  margin: 0 0.5%;
  -webkit-box-shadow: 2px 6px 15px -3px rgba(0,0,0,0.51);
  box-shadow: 2px 6px 15px -3px rgba(0,0,0,0.51);
  transition-property: transform;
  transition-duration:500ms;
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  background: var(--backgroundColor);
  position: RELATIVE;
}

.activity:hover {
  transform:scale(1.05);
}

#activityList {
  margin: 10px 10vw;
  position: relative;
  display: flex;
  column-gap: 10px;
  justify-content: center;
}

#activityOne .img {
  background-image: url('/images/page1/activities/rides.jpg');
}

#activityTwo .img{
  background-image: url('/images/page1/activities/hotels.jpg');
}

#activityThree .img {
  background-image: url('/images/page1/activities/restaurants.jpg');
}


.activity > .img {
  width: 100%;
  height: 350px;
  position: relative;
}

.activity  a{
      position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.activity h3{
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  align-items: center;
}

.activity p{
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.activity > h3, .activity > p {
  text-align:center;
  padding:0 10px;
}

.activity > h3, .activity p, .activity_data {
  flex-grow: 1;
}

.ride_data {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}

.activity_data {
  padding:0 10%;
}

.activity_data ul, .ride_data ul{
  list-style: none;
  padding: 0;
  flex-grow: 1;
  text-align: left;
}

.activity_data li,.ride_data li {
    display: flex;
    align-items: center;
}

.activity_data li > i,.ride_data li > i{
    font-size: 18px;
    text-align: center;
    width: 22px;
}
.activity_data i.fas.fa-dragon {
  margin-right: -9px;
}

.activity_data li > p {
    padding: 0;
    margin: 10px 30px 10px;
    flex-grow: 1;
}
.ride_data li > p{
    padding: 0;
    margin: 5px 15px;
    flex-grow: 1;
}

.advertisment.banner {
  height: 70vh;
}

div#whatsnewList {
    display: flex;
    column-gap: 2%;
    padding: 50px;
    justify-content: space-evenly;
    align-items: flex-start;
}
.whatsnew {
    flex-grow: 0;
    display: flex;
    flex-flow: column;
    position: relative;
    width: 25%;
    border: 1px solid var(--accentColor);
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
}
.whatsnew .img:before {
    content: " ";
    position:absolute;
    bottom: 0;
    width: 200%;
    height: 200%;
    border-radius:100%;
    box-shadow: 0px 300px 0px 300px var(--backgroundColor);
    z-index: 1;
    flex: 0;
    left: -50%;
}
.whatsnew > .img {
   width: 100% !important;
   height: 25vh !important;
   position: relative;
   overflow: hidden;
   border-top-right-radius: 49px;
   background-size: cover !important;
}


.whatsNewText {
  background: var(--backgroundColor);
  color: var(--text-color) !IMPORTANT;
  padding: 20px;
  text-align: left;
  transition-property: transform;
  flex-grow: 1;
  z-index: 4;
  position: relative;
}

.whatsNewText h4 {
  margin-top: 0;
  text-align: left;
}

.whatsnew details {
    z-index: 2;
    padding: 0;
    position: relative;
}

.whatsnew details div {
  position: absolute;
  z-index: 12;
  top: 60px;
  color: var(--text-invert);
  padding: 10px;
  width: 100%;
  border-radius: 15px;
  height: auto;
  text-align: center;
}

.whatsnew details summary{
    margin: auto;
    width: 40%;
    margin-bottom: 19px;
}
#newsOne .img {
  background: url('/images/page1/whatsnew/live_show_1.jpg');
}
#newsTwo .img {
  background: url('/images/page1/whatsnew/live_show_2.jpg');
}
#newsThree .img {
  background: url('/images/page1/whatsnew/new_hotel.jpg');
}
#newsFour .img {
  background: url('/images/page1/whatsnew/new_restaurant.jpg');
}
/* Attractions page */

/* Ride Info */


.rideBanner.banner {
  min-height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}


.ride_information.padded {
  display: flex;
  width: auto;
  justify-content: center;
  padding: 1vw 5vw !important;
  flex-wrap:wrap;
  column-gap: 55px;
}

.ride_information > h2 {
  width:100%;
}
.ride_information > *:not(h2)
{
  flex:1;
}

.ride_information .ride_description{
 width: 60%;
 text-align: justify;
 font-size: 16px;
 font-weight: 400;
 flex: unset;
}

.ride_information .ride_description .ride_ticket{
  background: var(--color-one);
  text-align: center;
  width:150px;
  display: inline-block;
  margin: 20px 0px;
 }
 
 .ride_information .ride_description .ride_ticket p{
  color: var(--text-invert);
 }

.ride_information .activity_data{
 width: auto;
 display: inline-block;
}

.ride_information .activity_data p, .ride_data p{
 padding: 0 25% 0;
}
.ride_information .activity_data ul, .ride_data ul {
  list-style: none;
  padding: 0;
}

.ride_information .activity_data ul li {
  margin-bottom:20px;
}

.ride_data h3{
  margin:0;
  padding:0;
  width: 100%;
  height: 48px;
}

ul.ridePopularity {
  list-style: none;
  padding: 0;
  width: 100%;
  float: left;
}

ul.ridePopularity li > p {
  float: left;
  width: auto;
  padding: 0;
  margin: 0 10px 0 0;
}

.ride_data > p {
  padding: 0;
}

#ride_one .banner {
  background-image: url('/images/page2/rides/02_banner.jpg');
}

#ride_two .banner {
  background-image: url('/images/page2/rides/03_banner.jpg');
}

#ride_three .banner {
  background-image: url('/images/page2/rides/05_banner.jpg')
}


/* Live Show */

#liveShows {
    padding-bottom: 0;
}

#live_shows_info .liveshowItem {
  display: flex;
  align-items: center;
}

#live_shows_info > .liveshowItem:nth-child(odd)
{flex-direction: row-reverse;}

.liveshowItem .img {
    height: 50vh;
    width: 50%;
    flex-grow: 1;
}

#live_show_one .img {
  background-image:url('/images/page2/liveshow/live_show_1.jpg');
}

#live_show_two .img {
  background-image:url('/images/page2/liveshow/live_show_2.jpg')
}

.Live_Show_text {
    flex-grow: 1;
    width: 50%;
}
.Live_Show_text > * {
  padding: 0 20px;
}

.Live_Show_text > h2 {
    margin-top:0
}


/* Resturants */
#restaurants{
 width:100%;
 text-align: center
}

#restaurants h1{
 text-align: center
}

#restaurants h2{
 text-align: center
}

#restaurants .restaurant{
 display: inline-block;
 margin: 2%;
 width: 18%;
 border: 1px solid;
}

.restaurant h4 {
  font-weight: 200;
  font-size: 30px;
}

.restaurantImage {
  height: 290px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transform:scale(1);
  transition-duration: 500ms;
  transition-property: transform;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.restaurantImage:hover {
transform:scale(1.1);
-webkit-box-shadow:0 7px 4px0 rgb(0 0 0 / 18%);
  box-shadow:0 7px 4px0 rgb(0 0 0 / 18%);
 
}



.restaurantText {
  position: absolute;
  color: var(--text-invert);
  font-weight: 700;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #000000ad;
  padding: 10px;
  bottom: -82px;
  transition-duration: 500ms;
  transition-property: bottom;
}

.restaurantImage:hover .restaurantText{
  bottom:0;
}

#restaurantOne {
  background-image: url('/images/page2/restaurants/food_1.jpg');
}

#restaurantTwo {
  background-image: url('/images/page2/restaurants/food_2.jpg');
}

#restaurantThree {
  background-image: url('/images/page2/restaurants/food_3.jpg');
}

#restaurantFour {
  background-image: url('/images/page2/restaurants/food_4.jpg');
}

/*Discover Page. Park Map & Table for Schedule of the Park*/


#map .banner {
  position: relative;
  background-image: url('/images/page3/locations/parklocation.png');
}

#map address {
  position: absolute;
  bottom: 10vh;
  right: 10vw;
  /* padding: 20px 20px 40px; */
  background: #0006;
  color: var(--text-invert);
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  max-width: 18vw;
  align-items: center;
  column-gap: 20px;
  padding: 20px;
}

#map a {
    background: var(--color-three);
    padding: 10px 20px;
    flex: 1;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    border-radius: 25px;
}

#map a:hover {
    background: var(--color-one);
}
#map .address {
  margin-bottom:0;
  width: 100%;
  font-style: normal;
  text-align: right;
  margin-right: 14px;
}

#map .address .heading {
  font-size: 30px;
  font-weight: 700;
}

table{
 width: 100%;
 margin-top: 15px;
 border-collapse: collapse;
}

td {
 font-size: 16px;
 padding: 20px 0;
}

thead,tfoot {
 /* background: black; */
 color: black;
 font-size: 24px;
 padding: 20px;
 height: 42px;
 border-bottom: 2px solid #000;
}
thead > tr {
 border-bottom: 1px solid #000 !important;
 text-align: left;
 text-transform: uppercase;
}


section#parkMap {
  padding: 0;
}

section#timings {
  margin-bottom: 60px;
}

th {
  font-size: 15px;
}

div#hotelsListing {
  display: flex;
  justify-content: center;
  flex-basis: fit-content;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 10px;
  padding: 0 20px;
}

.hotel {flex-grow: 1;text-align: center;position: relative;overflow: hidden;}

.hotel > .img {
  min-height: 42vh;
  width: 100%;
  border:1px solid var(--accentColor);
}

.hotel .stars{
  color: var(--golden);
  position: absolute;
  bottom: 41px;
  float: left;
  left: 0;
  right: 0;
  background: #0000005e;
  padding: 10px;
  text-align: right;
}

.hotel a {
  width: Calc(100% - 2px);
  position: absolute;
  border-width: 1px !important;
  padding: 10px 0;
  border-radius: 0;
  font-weight: 600;
  font-size: 16px;
  bottom: 0;
  left: 0;
}

#hotelOne .img {
background-image: url('/images/page3/hotels/hotel_1.jpg');
}
#hotelTwo .img{
background-image: url('/images/page3/hotels/hotel_2.jpg');
}
#hotelThree .img{
background-image: url('/images/page3/hotels/hotel_3.jpg');
}
#hotelFour .img{
background-image: url('/images/page3/hotels/hotel_4.jpg');
}

#giftShops {
  display: grid;
  grid-template-columns: repeat(3,30vw);
  grid-template-rows: 30vh 30vh;
  padding: 10px 50px;
  column-gap: 20px;
  row-gap: 20px;
}

#giftShops > .giftshop{
  width:100%;
  height:100%;  
}

#giftShops > .giftshop:nth-child(even) {grid-row-start: 2;grid-row-end: 2;}
#giftShops > .giftshop:nth-child(n+4) {
  grid-column-start: 3;
  grid-column-end: 4;
}

.giftshop.center {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.giftShopText {
  padding: 0px 20px;
  color:var(--text-invert);
  z-index: 5;
  position: absolute;
}
#giftShops .img
{
  position: relative;
  filter: saturate(1.5);
}

#giftShops .img:before 
{
  content: '';
  position: absolute;
  background: linear-gradient(0deg, rgb(0 0 0 / 0%), rgb(0 0 0 / 52%));
  top:0;
  bottom: 0;
  left:0;
  right: 0;
  width:100%;
  height:100%;
  z-index:1;
}

#giftShops #giftShopOne.img {
background-image: url('/images/page3/giftshop/giftshop_1.jpg');
/* filter: saturate(2); */
}
#giftShops #giftShopTwo.img {
background-image: url('/images/page3/giftshop/giftshop_2.jpg');
}
#giftShops #giftShopThree.img {
background-image: url('/images/page3/giftshop/ghiftshop_3.jpg');

}
#giftShops #giftShopFour.img {
background-image: url('/images/page3/giftshop/giftshop_4.jpg');

}
#giftShops #giftShopFive.img {
background-image: url('/images/page3/giftshop/giftshop_5.jpg');

}
/*//////*/


/* Footer */
footer {
  background: linear-gradient(0deg, rgb(0 0 0 / 80%), rgb(0 0 0 / 99%)),url('/images/footer/footerbackground.jpg')  center center;
  padding: 30px 6vw 0;
  display: flex;
  flex-wrap: wrap;
  vertical-align: top;
  align-items: self-start;
  justify-content: space-between;
  margin-top: 60px;
}

footer *{
 color:var(--text-invert);
 padding-top: 0;
 margin-top: 0;
 
 
}

footer > div {
   min-width: 20vw;
}

footer #navigation nav > ul {
  padding: 0;
  list-style: none;
}
footer #navigation nav > ul > li {
  margin-bottom:20px
}

footer #helpCenter *{
  font-style: normal;
}


footer form input:not([type="submit"]), footer form textarea {
  width: -webkit-fill-available;
  border-radius: 0;
  background: #313131b0;
}

footer form input[type="submit"]
{
  border-radius:0;
  border:none !important
}

footer #copyrights {
 width:100%;
 flex-basis: 100%;
 color: #fff;
}

ul#socialMediaLinks {
   /* display: grid; */
   padding: 0;
}

ul#socialMediaLinks li{
 float:left;
 width: auto;
 list-style: none;
 float: left;
 padding:0 5px;
 position: relative;
}

#socialMediaLinks li img{
  width:25px;
}

footer .logo img {
    height: auto;
    width: 150px;
}

form#contactForm {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 10px;
    row-gap: 6px;
}

footer #contactForm > div:first-child{
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 1;
}

footer #contactForm > div:nth-child(2) {
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 2;
}

footer #contactForm > div {
  width:100%;
  grid-column-start: 1;
  grid-column-end: 3;
}

