 /* General */

 body,html{
     padding:0;
     margin:0;
 }

.darkSection{
    background: rgb(230,230,230);
}

section .padded {
    padding:10px;
}
 /* Attractions page */

 /* Ride Info */
 .ride_information .ride_description{
    width: 49%;
    text-align: left;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 20px;   
}


.ride_information .ride_data{
    width: 49%;
    display: inline-block;
    margin-bottom: 20px;
}

.ride_information .ride_data p{
    padding: 0px 25% 0px       
}


.ride_information .ride_description .ride_ticket{
    background: red;
    text-align: center;
    width:150px;
    display: inline-block;
    margin-bottom: 40px;
}

.ride_information .ride_description .ride_ticket p{
    color: white;
}

/* Live Show */



/* Resturants */
#restaurants{
    width:100%;
    text-align: center
}

#restaurants h1{
    text-align: center
}

#restaurants h2{
    text-align: center
}

#restaurants .restaurant{
    display: inline-block;
    margin: 2%;
    width: 18%;
}


/*Discover Page. Park Map & Table for Schedule of the Park*/
.container {
    position: relative;
    max-width: 100%;
    height: auto;
}

.container .btnClass1 {
    position: absolute;
    right: 16%;
    top: 50%;
    padding:0;
    background: black;
    border-color: royalblue;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 24px;

}

.container .btnClass2 {
    position: absolute;
    background-color: #555;
    top: 60%;
    right: 18%;
    background: black;
    border-color: royalblue;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 24px;
    
}

.container img {
    width: 90%;
    height:  auto;

}

.btnClass1:hover {
    background: white;
    color: black;

}
.btnClass2:hover {
    background: white;
    color: black;

}

table{
    width: 80%;
}

td {
    border: 1px solid #333;
    font-size: 16px;
}

thead,tfoot {
    background: black;
    color: white;
    font-size: 24px;
}

/*//////*/

